img {
  float: left;
  width: 250px;
  border: 2px solid black;
  padding: 5px;
  margin: 10px;
}
.sidebar {
  float: right;
  width: 30%;
  background-color: #f9f1a7;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
}
.key {
  font-weight: bold;
}
.key a {
  font-weight: normal;
}
body {
  font-family: monospace;
}
